body {
    transition: background-color 0.3s, color 0.3s;
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    cursor: pointer; /* Pointer Cursor für klickbare Karten */
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-weight: bold;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-dark.bg-primary {
    background-color: #0d6efd !important; /* Dark blue */
}
